page-dashboard {

    .buttonStyle{
        margin-top: 15px;
        background-color: blue;
        padding: 16px;
        border-radius: 10px;
        background-color: cadetblue;
    }
    .item-cover {
        left: 0;
        top: 0;
        position: fixed;
        width: 0px;
        height: 0px;
        background: transparent;
        cursor: pointer;
    }
    ion-select {
        max-width: -webkit-fill-available !important;
    }
    
    
}
