page-login {
    .mainDiv{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 40%;
        padding: 16px;
    }
    .buttonStyle{
        margin-top: 15px;
        background-color: blue;
        padding: 16px;
        border-radius: 10px;
        background-color: cadetblue;
    }
}
